yahoo-finance
newsapi-python
# alpha-vantage
fredapi
yfinance
sec_api

langchain
langchain-mistralai 
langgraph
google.generativeai

pydantic 
pydantic_settings 
dotenv 
typing 
setuptools
# pandas-ta
langchain_google_genai

fastapi
uvicorn

# langgraph-cli[inmem]
